.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
  .schedule {
    z-index: 99999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    p {
      font-family: 'Noe Display Bold', serif;
      font-size: 4em;
    }
    span {
      z-index: 99999;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-size: 1.2em;
      margin-bottom: 0.2em;
    }
    a {
      margin-bottom: 1em;
    }
  }
  .footer {
    z-index: 99999;

    p {
      text-align: center;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      margin-bottom: 0.5em;
      font-size: 0.8em;
    }
    a {
      font-weight: 400;
    }
  }
}
